$dark-gray: #1a1a1a;
$gray: #939393;
$light-gray: gray;
$very-light-gray: silver;

$gold: gold;
$night: #0C090A;

$white: white;

$main-menu-background: $gray;
$main-menu-color: $light-gray;
$main-menu-border: $light-gray;

$header-background: black;