<polymer-element name="main-menu">
    <template>
        <link rel="stylesheet" href="../style/styles.css">
        <h1>{{nameColor}}</h1>
    </template>
    <script>
        Polymer({
            created: function () {
                console.log("created");
                this.nameColor = "red";
            },
            attached: function () {
                console.log("attached");
            },
            populate: function (items) {
                console.log("call populate", items)
            },
            addItem: function (item) {

            },
            removeItemByLabel: function (label) {
                if (label === "test") {
                    return "ok";
                } else {
                    return "nok";
                }
            },
            removeItemByIndex: function (index) {

            }
        })
    </script>
</polymer-element>