<polymer-element name="main-menu">
    <template>
        <link rel="stylesheet" href="../style/styles.css">
        <template bind="{{items}}">
            <ul>
            <template repeat>
              <li><a href="#{{link}}">{{label}}</a></li>
            </template>
            </ul>
        </template>
    </template>
    <script>
        Polymer({
            created: function () {
                this.items = [];
            },

            populate: function (items) {
                this.items = items;
            },

            addItem: function (item, index) {
                if (index !== undefined) {
                    this.items.splice(index, 0, item);
                } else {
                    this.items.push(item);
                }
            },

            removeItemByLabel: function (label) {
                var index;
                for (var i = this.items.length - 1; i >= 0; i--) {
                    if (label === this.items[i].label){
                        index = i;
                        break;
                    }
                };

                this.removeItemByIndex(index);
            },

            removeItemByIndex: function (index) {
                if (index !== undefined) {
                    this.items.splice(index, 1);
                }
            }
        })
    </script>
</polymer-element>